:root {
	--default-font: Arial, Helvetica, sans-serif;
}

:root.light {
	--theme-text-color: hsl(240, 10%, 20%);
	--theme-background-color: hsl(0, 15%, 95%);
}

:root.dark {
	--theme-text-color: hsl(0, 0%, 80%);
	--theme-background-color: hsl(240, 10%, 20%);
}

body {
	font-family: var(--default-font);
	color: var(--theme-text-color);
	background: var(--theme-background-color);
}

button,
input,
select {
	font-family: var(--default-font);
}

a {
	color: var(--theme-text-color);
}


.responsive-grid {
	display: grid;
	grid-template-columns: repeat(var(--max-columns-full, 3), 1fr);
}

@media (max-width: 1024px) {
	.responsive-grid {
		grid-template-columns: repeat(var(--max-columns-med, min(var(--max-columns-full, 3), 2)), 1fr);
	}
}

@media (max-width: 767px) {
	.responsive-grid {
		grid-template-columns: repeat(var(--max-columns-small, 1), 100%);
	}
}
