.light .header .header-logo img {
	filter: invert(1);
}

@media (max-width: 767px) {
	.header .header-logo {
		text-align: center;
	}
}

.header .header-logo a {
	display: inline-block;
}

.header .user-controls {
	align-content: center;
	text-align: center;
}
